.headerContainer {
    margin-top: 1em;
}

.wavePic {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1em;
    height: auto;
    width: 200px;
    margin-bottom: 1em;
}

.footballHero {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.footballPic {
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topLeft {
    position: absolute;
    top: 8px;
    left: 40px;
    font-size: 40px;
    font-weight: 900;
}

.inputContainer{
    display: flex;
    border: black solid;
    border-radius: 10px;
    margin: 0px 40px 0px 40px;
    color:black;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    width: 400px;
    justify-content: space-between;
}

.inputField {
    padding-left: 5px;
    font-size: 16px;
}

.inputContainer2{
    display: none;
}

input{
    border: none;
}

input:focus{
    outline: none;
}

.location{
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 100%;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 10px 5px 5px 10px;
    padding: 0px 10px 0px 10px;
    color: white;
    font-weight: bolder;
}

.location p{
    margin-left: 5px;
}


@media only screen and (max-width: 600px) {
    html{
        font-size: 16px;
    }

    
    .waveContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: .5em;
    }

    .waveContainer img{
        height: 50px;
        width: 45%;
    }

    .inputContainer{
        display: none;
    }

    .inputContainer2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        border: black solid;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        border-radius: 10px;
        background-color: white;
    }

    .location{
        font-size: 15px;
        display: flex;
        flex-direction: row;
        height: 35px;
        font-size: 12px;
    }

    .inputField2 input{
        border-radius: 10px;
    }

    .inputField2{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .topLeft {
        position: absolute;
        top: -2px;
        left: 10px;
        font-weight: 900;
        font-size: 16px;
    }
    
}