.headerContainer {
    margin-top: 1em;
}

.wavePic {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1em;
    height: auto;
    width: 200px;
}

.footballHero {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.footballPic {
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topLeft {
    position: absolute;
    top: 8px;
    left: 16px;
}

.inputContainer{
    display: flex;
    border: black solid;
    border-radius: 10px;
    margin: 0px 40px 0px 40px;
    color:black;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
}

input{
    border: none;
}

input:focus{
    outline: none;
}

.location{
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 100%;
    width: fit-content;
    align-items: center;
    justify-content: center;
}


